{% extends 'app_oracle/base.html' %}
{% load static %}

{% block contenido %}




<!--Espacio Productos Destacados-->
  <!--Barra-->
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-sm-8">
        <h1>Evento</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">
      </div>
    </div>
    <!--Productos-->
    <div class="row" style="margin-top: 50px;">
    <div class="col-sm-4 mt-5">

    <!-- <div class="product-list__head">
        <a href="AgregarProducto.html"><img class="img-thumbnail img-fluid card-productos" id="pa" src="{% static 'app_oracle/img/est3.jpg' %}"
      
            alt="Producto"></a>
        </div>
      -->

<section class="col-sm-12 mt-1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Hardwell_2018_%28cropped%29.jpg/640px-Hardwell_2018_%28cropped%29.jpg">
        <img src="https://rukminim1.flixcart.com/image/416/416/xif0q/poster/j/e/n/small-spos7232-poster-music-hardwell-dj-movie-documentary-sl-original-imaghmm5s2gfzxcf.jpeg?q=70">
        <img src="https://ae01.alicdn.com/kf/HTB1b7YZOpXXXXaCXpXXq6xXFXXXz/005-Hardwell-Robbert-van-de-Corput-DJ-Music-Producer-36-x24-Poster.jpg">
</section>


</div>
     <div class="col-sm-3 mt-6">
	   <h2>Hardwell En Chile</h2>
	   <h5>Valor Entrada</h5>
	   <b style="font-size: larger;">$12.000</b>
	   <br>
	   <br>

    <button type="button" >
      <span><ion-icon name="ticket-outline" style="font-size: larger;"></ion-icon> Comprar Ticket</span>
    </button>

	   </div>
      </div>
    </div>
</div>



<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
</div>
        
    </div>

    </div>
    
   </div>
    </div>
    </div>
  <!--distribuidores-->
 
    
         </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock contenido %}