{% extends 'app_oracle/base.html' %}

{% load static %}


{% block contenido %}

 

{% if messages %}

    {% for msg in messages %}
       <script>
           Swal.fire({
           title: 'Exito!',
           text: '{{msg}}',
           icon: 'success',
           confirmButtonText: 'Aceptar',
           confirmButtonColor: 'Green'
           }) 
       </script>
    {% endfor %}
</ul>
{% endif %}

<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<style>




.cont1{
text-align: center;
margin-top: 50px;
margin-left: 200px;


}







</style>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>






        
        <div class="container">
          <div class="row">
              <div class="col-md-6 mx-auto py-4">
                  <div class="card">
                      <div class="card-header">
                          <h1>Datos personales</h1>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <tbody>
                                <tr>
                                    <th style="color:white;">ID</th>
                                    <td style="color:white;">{{user.id}}</td>
                                </tr>
                                  <tr>
                                      <th style="color:white;">Nombre de usuario</th>
                                      <td style="color:white;">{{user.username}}</td>
                                  </tr>
                                  <tr>
                                      <th style="color:white;">Full nombre</th>
                                      <td style="color:white;">{{user.first_name}} {{user.last_name}}</td>
                                  </tr>
                                  <tr>
                                      <th style="color:white;">Email</th>
                                      <td style="color:white;">{{user.email}}</td>
                                  </tr>
                                  <tr>
                                    <th style="color:white;">Ultima conexión</th>
                                    <td style="color:white;">{{user.last_login}}</td>
                                </tr> 
                                  <tr>
                                      <th style="color:white;">Miembro desde</th>
                                      <td style="color:white;">{{user.date_joined}}</td>
                                  </tr> 
                              </tbody>
                          </table>
                          <a role="button" class="btn btn-success btn-lg" href="{% url 'modificaruser' user.id %}">Modificar</a>
                        </div> 
                      </div>
                  </div>
              </div>
          </div>
      </div>


<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<div class="a">
</div>
  <style>
  .a{
    margin-top: 100px;
  }
  </style>

  {% endblock contenido %}
  