{% extends 'app_oracle/base.html' %}

{% load static %}

{% block contenido %}




  



<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<style>
.cont{
background: gainsboro;
height: 500px;
width: 100%;
margin-top: 3%;


}
.Texto{
text-align: center;


}


.btn {
    width: 200px;
    padding: 20px;
    -webkit-appearance: none;
    color: rgb(3, 1, 1);
    


}

</style>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<div class="cont">

<h1 class="Texto">
  Ingrese su correo <br><br>
  <form class="form" method="GET" action={% url 'RecuperCuenta2' %}>
  <div class="form-group">
  <input type="email" placeholder="" class="form__input" aria-describedby="helpId" placeholder="" required ><br><br>
  <a href={% url 'RecuperCuenta2' %}><button class="btn btn-primary text-white" type="submit" onclick="validar()">Siguiente</button></a>
  </div>
  </form>
</h1>



</div>






<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------>
<div class="a">
</div>
  <style>
  .a{
    margin-top: -100px;
  }
  </style>

  {% endblock contenido %}
  